<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
		.infocap{
			font-size:10pt;
			font-weight:bold;
			color:Orange;
			vertical-align:middle;
			padding-left:25px;
			line-height:25px;
		}
		
		.daycap{
			font-size:10pt;
			font-weight:bold;
			text-decoration:none;
			color:White;
			padding-left:5px;
			height:30px;
			background:url(/images/panel.png) repeat-x;
			vertical-align:bottom;
		}
	</style>
<head>
	<title>
		WIZ | CO2-ASIA
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="padding-top:22px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;" class="current_page_item"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;"><a href="/sponsor">Sponsor</a></li>
					</ul>
				</div>
			</div>
			
	<div id="divcontent" class="content" style="width:1003px;">
		<div style="width:750px;padding-right:0px;border:inset 0px red;margin-left:130px;" id="content">
			<table cellpadding="0" cellspacing="0" border="1" style="vertical-align:top;">
				<colgroup>
					<col style="width:50%;">
				<!--	<col style="width:33.3%;border:inset 2px red;"> -->
					<col style="width:50%;">
				</colgroup>
          
				<tbody>
					<tr>
						<td style="vertical-align:top;">
						<div style="padding-right:1px;padding-left:1px;">
							<table border="0">
								<tbody>
								<tr><td class="daycap" colspan="2"> Day 1 - [12 March, 2015 - Thursday]</td></tr>
								
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold;">09:20</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Opening Remarks<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">09:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">General Chemical Industry Trends and Propylene Market Outlook<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Analysis on Asia PA Market<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- India PA supply</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- China PA</span></br>
									</td>
								</tr>									
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Coffee Break<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Regional Developments in Plasticizer Alcohols and Plasticizers<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Raise of China Oxo Alcohol Capacity and its Influence on Global Market<br></div>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Sharp decrease of Oxoalcohol import volume</span></br>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Operation rate of Chinese Oxoalcohol plants</span></br>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Will China export become frequent in near future?</span></br>
									</td>
								</tr>	
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">12:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Buffet Lunch<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">14:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">European Oxo Alcohol Market Outlook<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">14:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Development of Middle East Oxo Alcohol<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Growing capacity and importance of ME region inthe global OA supply chain</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">15:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;"> Indian Oxo-alcohol & Plasticizer Industry: Market Overview<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">16:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">China Plasticizer Market Outlook<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Polymer market: China &global perspective</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Recent China market trends for plasticizers</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Conclusion and future estimates</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">16:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Turkey Plasticizer Market Overview<br></div>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- OA demand in Turkey</span></br>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Plasticizer market in Turkey</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">17:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Development of DOTP - New Type of Plasticizer<br></div>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Cost competitiveness</span></br>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Replacement of DOP and DINP</span></br>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Capacity analysis</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">18:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Buffet Dinner<br></div>
									</td>
								</tr>
								</tbody>
							</table>
						</td>
						
						<td style="vertical-align:top;"><div style="padding-right:1px;padding-left:1px;">
							<table border="0">
								<tbody>
									<tr><td class="daycap" colspan="2"> Day 2 - [13 March, 2015 - Friday] &nbsp &nbsp &nbsp</td></tr>
									<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold;">09:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Asia PVC Compound Market Outlook<br></div>
										<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Asia capacity and price analysis</span></br>
										<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Trade flow for PVC compound</span></br>
										<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Non phthalate PVC compounds</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">09:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Overview of Asia PVC Market<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Challenge of supply and demand</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- How to ease impact of financial turmoil on spot PVC price</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Cost support and market consolidation</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Evaluation of Processing Performance of Bio-Based Plasticizers in Paste PVC Applications<br></div>
									</td>
								</tr>	
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Coffee Break<br></div>
									</td>
								</tr>								
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">PVC Floor<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Bio-Butanol<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- New progress of bio-butanol production</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">- Commercialization of bio-butanol and its impact</span></br>
									</td>
								</tr>	
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">12:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Buffet Lunch<br></div>
									</td>
								</tr>	
								</tbody>
							</table>
						</td>
				  
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
		</div>
	</div>
</div>

 
</body>

</html>
