<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
		a:link { 
			color:red; 
			text-decoration:underline; 
		} 
		a:visited { 
			color:blue; 
			text-decoration:none; 
		} 
		a:hover { 
			color:red; 
			text-decoration:none; 
		} 
		a:active { 
			color:#FFFFFF; 
			text-decoration:none; 
		} 
	</style>
<head>
	<title>
		WIZ | CO2-ASIA
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="padding-top:22px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;" class="current_page_item"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;"><a href="/sponsor">Sponsor</a></li>
					</ul>
				</div>
			</div>
			<div id="divcontent" class="content" style="width:1003px;">
				<div style="float:left;width:50%;">
				<table border="0" align="left">
					<tbody>
						<tr>
							<td style="vertical-align:top;">
								<div style="width:785px;padding-right:0px;" id="content">
									<div style=" float:left; width:100%; background-color:#FFFFFF; margin-bottom:12px;">
										 <div style="float:left; width:600px; text-align:left; background-color:#FFFFFF; overflow:hidden;" align="left"> 
											 <span style="font-size:15px;font-weight:bold; color:red;text-align:left;">Asia Carbon Dioxide Utilization Conference</span><br>
											 <span style="font-size:13px;">27-28 August, 2014<br></span>
											 <span style="font-size:13px;">Shanghai, China<br></span>
										 </div>
									</div>
								</div>
							</td>
						</tr>
						<tr >
							<td style="vertical-align:top;">
								<div style="margin-left:40px;">
									<span style="font-size:18px;font-weight:bold;margin-left:115px;"><u>Conference background</u></span>
								</div>
							</td>
						</tr>
						<tr>
							<td style="vertical-align:top;">
								<div style="margin-left:20px;">
									<span style="font-size:12px;text-align:left;">
										Waste is no difference with energy, so does carbon dioxide. As the main cause for 
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										Greenhouse effect and primary waste of human being, it possibly could be feedstock 
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										for fuel, chemicals, and polymers.
									</span>
								</div>
							</td>
						</tr>	
						<tr><td></td></tr>
						<tr>
							<td style="vertical-align:top;">
								<div style="margin-left:20px;">
									<span style="font-size:12px;text-align:left;">
										Unlike US and European market, the carbon dioxide utilization industry is still under 
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										development in Asia, especially in China, which will surely be a large market in the future. 
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										WIZ’s Asia Carbon Dioxide Utilization Conference will provide a platform for the 
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										communication among this industry in Asia; have a depth analysis of current and future 
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										market size in Asia, as well as the technology developments across the globe.
									</span>
								</div>
							</td>
						</tr>
						<tr><td></td></tr>
						<tr>
							<td style="vertical-align:top;">
								<div style="margin-left:20px;">
									<span style="font-size:12px;text-align:left;">
										Thus the fundamental purpose of this conference is to investigate existing and emerging  
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										uses of CO2 for industrial applications, and to consider the near-term application of  
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										mature technologies such as enhanced oil recovery (EOR), as well as the longer-term 
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										application of a number of promising new technologies in petrochemical, biochemical, 
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										urea, fuel and power energy sectors.
									</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
				<div style="float:left;width:40%;margin-left:12px;">
					<table border="0" >
						<tbody>
							<tr>
								<td style="vertical-align:top;">
									<div style="margin-top:68px;margin-left:150px;">
										<span style="font-size:18px;color:red;font-weight:bold;text-align:left;">Highlights</span>
									</div>
								</td>
							</tr>
								<tr>
								<td style="vertical-align:top;">
									<div style="margin-left:20px;">
										<span style="font-size:12px;text-align:left;">
											• Ideas and Experience on Current & Future CO2 Market 
										</span> 
									</div>
								</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
											<span style="font-size:12px;text-align:left;">
												• Recycling CO2 for the production of renewable fuel  
											</span> </br>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
											<span style="font-size:12px;text-align:left;">
												• Most Updated Technology on CO2 Capture and Storage
											</span> </br>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
											<span style="font-size:12px;text-align:left;">
												• Conversion of CO2 into Energy Products 
											</span> </br>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
										<span style="font-size:12px;text-align:left;">
											• Biotechnology based on CO2
										</span> </br>
											</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
										<span style="font-size:12px;text-align:left;">
											• China CO2 Market Analysis and Forecast
										</span> </br>
											</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
										<span style="font-size:12px;text-align:left;">
											• CO2 as Feedstock for the Chemicals and Polymers
										</span> </br>
											</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
										<span style="font-size:12px;text-align:left;">
											• ONLY CO2 Utilization Conference in Asia
										</span> </br>
											</div>
									</td>
								</tr>

								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div style="padding-top:10x;padding-bottom:12px;">		
				<div style="height:2px;"></div>
			</div>		
			<div class="content" style="width:943px;padding-left:30px;padding-right:30px;">
				<div class="feedTitle">Company introduction</div>
				<div class="feedTitle1">Posted on : 11 April, 2014 <br></div></br>
				<div style="background-color:#f5f4f3;">
				<span>
					<a href="http://wiz-biz.com" title="Wiz Business"  target="_blank">WIZ Business</a> is committed to providing highly informative conference, professional training, factory visit and other customized activities for corporate clients all over the world.
				</span></br>
				<span>
				 WIZ Business was set up in Hong Kong to be closer to the fast growing Asian markets and Shanghai office opened its doors as a gateway to China. 
				</span></br></br>
				<span>
				We recognize the importance of networking and information for our clients, and aim to hold our events conducive to your business. High quality analysis, precise insights and strategic directions are designed by extensive research, industrial experts and business leaders in all the commodities area including chemicals, food, alternative energy and etc.
				</span></br></br>
				<span>
				Our services will not only be provided during the events, but also before the events and after the events continuously. Besides, we are extremely good at providing international services and insights with local presence to the industry and your business.
				</span></br></br>
				<span>
				We provide the ideal platform for your company to promote your products and services, establish your brand, build new business relationship and secure your position as a leader in the industry in a cost-effective way. 
				</span></br></br>
				<span>
				Becoming a delegate, speaker or sponsor of WIZ conference gives you the opportunity to reach industry decision makers along the entire value chain. We can also offer sponsorship opportunities meeting individual requirements and budget. Please contact us and we can customize your ideas to suit your objective.
				</span></br></br>
				</p>
				</div>
			</div>

		</div>
	</div>


 
</body>

</html>
